.vscode
__pycache__/
*.pyc
.DS_Store
.idea/
datasets/trainingDataset/*
datasets/validationDataset/*
datasets/devDataset/*
datasets/datasetProcessing/subTrainingDataset/*
datasets/datasetProcessing/LstmTrainingDataset/*
datasets/datasetProcessing/LstmValidationDataset/*
BioSentVecEmbeddings/
datasets/fever/*
models/trained_models/*
