.vscode
__pycache__/
*.pyc
.DS_Store
.idea/
datasets/trainingDataset/*
datasets/validationDataset/*
datasets/datasetProcessing/tfrecords/*
datasets/subTrainingDataset/*
BioSentVecEmbeddings/
datasets/fever/*
logs/*
models/trained_models/*
